<div class="container">
  <div class="row">
    <div class="col-lg-12 mb30">
      <%= image_tag('task.png', :class => "img-responsive")%>
    </div>
    <div class="col-lg-12">
      <p>これはDICのrails課題です。<br>つぶやきを投稿する機能をつけることで、Railsの機能の一端を学ぶことができます。</p>
      <p>これはTwitterのクローンの課題制作です。</p>
    </div>
  </div>
</div>
